@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: black;
}

button{
    cursor: pointer;
    border: none;
}

input{
    border: none;
}