body {
    width: 100vw;
    overflow: auto;
}

/* .maxWidth {
    max-width: 1440px;
    margin: 0 auto;
} */

.rightSection {
    display: flex;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
}

.boardTemplate {
    height: 100%;
    background-color: rgb(246, 247, 248);
    color: black;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
}

.boardHeader {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.boardTable {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.findAddElement {
    display: flex;
    gap: 20px;
}

.boardList {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.boardListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emptyTask {
    padding: 5px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
}