body {
    overflow: auto;
}

.maxWidth {
    max-width: 1440px;
}

.rightSection {
    padding-left: 232px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 247, 248);
    display: flex;
    flex-direction: column;
}

.boardTemplate {
    color: black;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
}

.boardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 42px;
}

.boardTitle {
    font-size: 61px;
    font-weight: 700;
}

.boardTable {
    display: flex;
    gap: 20px;
}

.findAddElement {
    display: flex;
    gap: 20px;
}

.taskSearch {
    height: 48px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    gap: 10px;
}

.taskSearchInput {
    font-size: 20px;
    height: 100%;
    width: 224px;
}

.searchVector {
    height: 31px;
}

.searchGlass {
    padding: 7px;
}

.addTaskButton {
    display: flex;
    height: 48px;
    font-size: 21px;
    padding: 8px 16px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid #2A3647;
    background-color: #2A3647;
    color: white;
    gap: 4px;
}

.addPlus {
    height: 19px;
}

.boardList {
    display: flex;
    flex-direction: column;
    width: 24%;
    gap: 16px;
}

.boardListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 252px;
}

.taskList {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.plusButton {
    display: flex;
    height: 24px;
    width: 24px;
    border: 2px solid #2A3647;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.plusHorizontally {
    background-color: #2A3647;
    height: 2px;
    width: 8px;
}

.plusVertically {
    position: fixed;
    background-color: #2A3647;
    height: 8px;
    width: 2px;
}

.emptyTask {
    display: flex;
    height: 48px;
    padding: 5px;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}