.cardOverlay {
    cursor: pointer;
    position: fixed;
    left: calc(50% - 262px);
    top: 20%;
    display: flex;
    width: 525px;
    background-color: white;
    gap: 24px;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.taskCategoryDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskOverlayCategory {
    color: white;
    display: flex;
    font-size: 19px;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    justify-content: center;
}

.taskOverlayName {
    font-size: 61px;
    font-weight: 700;
}

.dueDateOverlay {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.dueDateOverlayDiv {
    display: flex;
    padding-left: 24px;
}

.priorityOverlay {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.priorityOverlayDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-left: 38px;
    gap: 16px;
}

.overlaySubtasks {
    display: flex;
    font-size: 12px;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.outerScaleOverlay {
    display: flex;
    justify-content: flex-start;
    width: 128px;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 8px;
}

.innerScaleOverlay {
    display: flex;
    height: 8px;
    background-color: #4589FF;
    border-radius: 16px;
}

.taskOverlayAssignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.assignedToOverlay {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.assignedToInitialDiv {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px 0px 16px;
}