.card {
    display: flex;
    width: 252px;
    background-color: white;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.taskCategory {
    font-size: 19px;
}

.variant1 {
    background-color: #6E52FF;
}

.variant2 {
    background-color: #FFA35E;
}

.variant3 {
    background-color: #FFE62B;
}

.variant4 {
    background-color: #00BEE8;
}

.variant5 {
    background-color: #FF5EB3;
}

.variant6 {
    background-color: #FFBB2B;
}

.variant7 {
    background-color: #FF745E;
}

.variant8 {
    background-color: #C3FF2B;
}

.variant9 {
    background-color: #FF7A00;
}

.variant10 {
    background-color: #1FD7C1;
}

.variant11 {
    background-color: #0038FF;
}

.variant12 {
    background-color: #FFC701;
}

.variant13 {
    background-color: #9327FF;
}

.variant14 {
    background-color: #FC71FF;
}

.variant15 {
    background-color: #FF4646;
}