body, html {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-container {
    display: flex;
    flex: 1;
    height: 60px;
}

.contacts-main {
    flex: 1;
    display: flex;
}

.contacts-section {
    display: flex;
    width: 100%;
}

.add-button {
    width: 352px;
    height: 56px;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.add-button:hover {
    background-color: #29ABE2;
}

.add-button img {
    width: 32px;
    margin-left: 16px;
}

.contacts-list {
    margin-left: 232px;
    width: 400px;
    border-right: 1px solid #ccc;
    padding: 12px;
    background-color: #f9f9f9;
    overflow-y: auto; 
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.contacts-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
  background: #fff;
}

.contacts-scroll-area {
  overflow-y: auto;
  flex-grow: 1;
  padding: 10px;
}

.contact-details {
    flex: 1;
    padding: 20px;
}

.contact-title{
    font-size: 61px;
    font-weight: 700;
}

.contact-div {
    width: 352px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 10px;
}

.contact-div:hover {
    background-color: #2A3647;
    color: #FFFFFF;
    cursor: pointer;
}

.subtitle {
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
}

.contact-avatar {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
}


.contact-mail {
    font-size: 16px;
    font-weight: 400;
    color: #007CEE;
}
.contact-name {
    font-size: 20px;
    font-weight: 400;
}

.highlight {
    color: #29ABE2;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-top: 54px;
}

.contact-name-buttons h2 {
    font-size: 47px;
    font-weight: 500;
}

.contact-name-buttons button {
    border-radius: 10px;
    font-size: 16px;
    background-color: #2a364700;
}

.contact-name-buttons button:hover {
    background-color: #ebebeb;
}

.contact-name-buttons button img{
    height: 16px;
    margin-right: 10px;
}

.contact-info-subtitle{
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
    background: white;
    border-radius: 10px;
    width: 90%;
    height: 594px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    
}

.hidden {
  display: none;
}

.close-btn {
  float: right;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.add-contact-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-icon img {
    width: 64px;
    height: 64px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 422px;
    height: 215px;
}

.contact-form input {
    height: 50px;
    border: #afafaf solid 1px;
    border-radius: 10px;
}

.add-overlay-button {
    width: 364px;
    height: 57px;
    display: flex;
    justify-content: space-between;
}

.cancel-button {
    width: 126px;
    height: 56px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
}
.create-button {
    width: 214px;
    height: 57px;
    background-color: #2A3647;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.overlay-header {
    background-color: #2A3647;
    color : #FFFFFF;
    height: 594px;
    width: 467px;
    border-radius: 10px;
}

.overlay-body {
    display: flex;
    align-items: center;
    justify-content: center;
}