body {
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 32px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    margin-top: 70px;
    margin-left: 328px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    gap: 32px;
    margin-bottom: 32px;
}

.txtContainer {
    height: 100%;
    margin-top: 36px;
    margin-left: 328px;
    margin-right: 36px;
}

.guideBoard{
    display: flex;
    gap: 32px;
    margin-bottom: 12px;
}

.guideContacts{
    display: flex;
    gap: 32px;
}

.guideAddCard {
    display: flex;
    gap: 32px;
}

.guideMoveCard {
    display: flex;
    gap: 32px;
}

.guideDelCard {
    display: flex;
    gap: 32px;
}